<%= turbo_stream.remove dom_id(@watchlist_item) %>

<%= turbo_stream.replace "watchlist-btn-#{@token.id}" do %>
  <div id="watchlist-btn-<%= @token.id %>">
    <%= button_to watchlist_items_path(token_id: @token.id), method: :post, class: "btn-sm btn-secondary" do %>
      <svg class="w-4 h-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/></svg>
      Watch
    <% end %>
  </div>
<% end %>
